<div id="dujo-login-content" class="row">
    <div style="text-align: center; margin-left: 5px; margin-right: 5px;" >
    <font SIZE=3>Recuede  que la contraseña debe incluir mayúsculas, minúsculas, caracteres y números. Debe tener como mínimo 10 caracteres.</font>
    </div>
    <br>
        <div id="change-password">
           <form  #recoveryForm="ngForm" (ngSubmit)="sendRecovery()" style="margin-left: -40px;">
              <div id="div-change-error" class="col-xs-24" [class.hidden]="recoveryError==''">
                <h5 id="lb-change-error">{{ recoveryError }}</h5>
            </div>
            <div  [class.has-error]="!recoveryPass.valid&&!recoveryPass.pristine">
                <div class="material-input col-xs-30" [class.has-error]="!recoveryPass.valid&&!recoveryPass.pristine">
                <input type="password" required="" id="tb-change-password"  name="pass" required [(ngModel)]="recoveryModel.password" #recoveryPass="ngModel">
                <label for="tb-change-password" class="col-xs-30">
                    <span >Nueva Contraseña</span>
                </label>
                <span class="help-block" for="tb-change-password">La contraseña es obligatoria</span>
                </div>
            </div>
            <div style="max-width: 500px;" [class.has-error]="!recoveryPassConfirm.valid&&!recoveryPassConfirm.pristine">
                <div class="material-input " [class.has-error]="!recoveryPassConfirm.valid&&!recoveryPassConfirm.pristine">
                <input type="password" required="" id="tb-change-cPassword" name="passConfirm" required [(ngModel)]="recoveryModel.passwordConfirm" #recoveryPassConfirm="ngModel">
                <label  for="tb-change-cPassword" class="col-xs-30">
                    <span >Confirmar Contraseña</span>
                </label>
                <span class="help-block "  for="tb-change-cPassword">La confirmación de contraseña es obligatoria</span>
                </div>
            </div>
            <div id="div-login-error" class="form-group has-error" [class.hidden]="!Errorcharacters">
                <h5 id="lb-login-error">La contraseña debe tener Minimo 8 caracteres, una mayuscula o una minuscula , un número y un caracter especial</h5>
            </div>
            <h4 class="pull-left" style="margin-left: 200px;"><button id="btn-change"  type="submit"  [disabled]="!recoveryForm.form.valid" style="font-size: 15px!important;color: #266494;background: #e4e4e4;margin: -12% 0% 0% -20% !important;" class="light-blue-button">GUARDAR</button></h4>
            <h4>
                <button id="btn-ocultarp" style="display: none;"data-dismiss="modal" >ocultar</button>        
              </h4> 
            </form>
        </div>    
    </div>    







