<div class="available" [class.vertical]="orientation == 'vertical'">
  
  
  <div>
      <div>
        <a href="company/secure/buy-services/detail/4">  
          <img src="/assets/images/assistance-icon.png" alt="">
          <div>
            <h4>{{ minutes }} Minutos </h4>
            <h5>
              <small>Saldo y compra de servicio para</small>
              Asistencia Remota
            </h5>
          </div>
        </a>
      </div>
  </div>
  <div>
    <div>
      <a href="company/secure/buy-services/detail/5">
        <img src="/assets/images/technique-icon.png" alt="">
        <div>
          <h4>{{technicalVisit}} Horas</h4>
          <h5>
            <small>Saldo y compra de servicio para</small>
            Visita Técnica
          </h5>
        </div>
      </a>
    </div>
  </div>
  <div>
    <div>
      <a href="company/secure/buy-services/detail/6">
        <img src="/assets/images/implementation-icon.png" alt="">
        <div>
          <h4>{{implementation}} Horas</h4>
          <h5>
            <small>Saldo y compra de servicio para</small>
            Implementación
          </h5>
        </div>
      </a>
    </div>
  </div>
  <div>
    <div>
      <a href="company/secure/wallet-payments/9">
        <img src="/assets/images/money-icon.png" alt="">
        <div>
          <h4>${{ wallet }}</h4>
          <h5>
            <small>Total deuda para</small>
            Pago de Cartera
          </h5>
        </div>
      </a>
    </div>
  </div>
</div>

